:root {
  --clr-primary-700: hsl(0, 78%, 62%);
  --clr-primary-600: hsl(180, 62%, 55%);
  --clr-primary-500: hsl(34, 97%, 64%);
  --clr-primary-900: hsl(212, 86%, 64%);
  --clr-primary-800: hsla(212, 53%, 64%, 0.555);

  --clr-neutral-300: hsl(234, 12%, 34%);
  --clr-neutral-200: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  --ff-primary: "Poppins";

  --fs-maker: 1;
  --fs-base: 15px;
  --fs-body: 15px;

  --fs-100: 0.65rem;
  --fs-200: 0.8rem;
  --fs-500: 1.16rem;
  --fs-800: 2.16rem;


  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  --box-gap: 1.6rem;
  --box-pad: 1.6rem;
  --box-w: 17.66666666666667rem;
  --box-h: 12.33333333333333rem;
  --box-radius: 0.5rem;


  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.25rem;
  --size-500: 2rem;
  --size-600: 2.5rem;
  --size-700: 3rem;
  --size-800: 4.5rem;
  --size-900: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs-base)
}

body {
  font-size: var(--fs-base);
  font-family: var(--ff-primary);
}

p {
  max-width: 55ch;
  line-height: 1.625;
}

@media (max-width : 50em) {}

main {
  background-color: var(--clr-neutral-100);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 100%;
  line-height: 1;
  box-sizing: border-box;
  padding-top: var(--size-800);
  padding-bottom: var(--size-500);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading p {
  text-align: center;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 4em);
}

.box-grid {
  width: 100%;
  height: 100%;
  gap: var(--size-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width : 800px) {
  :root {
    --fs-100 : 0.8rem;
    --fs-200 : 0.93rem;
    --fs-300 : 1.333rem;
    --fs-800 : 1.6rem;
  }

  p {
    max-width: 34ch;
    line-height: 1.8;
  }
  .heading {
    padding-bottom: var(--size-900);
  }
  .box-grid {
    flex-direction: column;
  }
  main {
    height: max-content;
    padding-bottom: var(--size-700);
  }
}

.box-grid p {
  font-size: var(--fs-100);
  color: var(--clr-neutral-200);
}

.box-grid h3 {
  color: var(--clr-neutral-300);
}

.box-grid .countainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-500);
}

.box-grid .box {
  position: relative;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  padding: var(--box-pad);
  width: var(--box-w);
  height: var(--box-h);
  border-radius: var(--box-radius);
  box-shadow: 0 .15em .65em var(--clr-primary-800);
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--hr-color);
  border-radius: var(--box-radius) 0 0 var(--box-radius);
  height: 3px;
}

.box-grid .box img {
  width: calc(var(--size-900) / 1.75);
  position: absolute;
  bottom: var(--box-pad);
  right: var(--box-pad);
}

.box-grid .box p {
  margin-top: var(--size-100);
}

@media screen {
  @media (min-width:2400px) {
    :root {
      --fs-base: calc(25px / var(--fs-maker))
    }
  }

  @media (max-width:1920px) {
    :root {
      --fs-base: calc(20px / var(--fs-maker))
    }
  }

  @media (max-width:1440px) {
    :root {
      --fs-base: calc(15px / var(--fs-maker))
    }
  }

  @media (max-width:1024px) {
    :root {
      --fs-base: calc(10.6666px / var(--fs-maker))
    }
  }

  @media (max-aspect-ratio : 16/9) {
    :root {
      --fs-maker: 0.825;
    }
  }



  @media (max-width:800px) {
    :root {
      --fs-base: calc(15px / var(--fs-maker))
    }
  }

  @media (max-width:450px) {
    :root {
      --fs-base: calc(13px / var(--fs-maker))
    }
  }
}