:root {
  --clr-primary-300: hsl(0, 36%, 71%);
  --clr-primary-500: hsl(0, 93%, 68%);
  --clr-neutral-900: hsl(0, 6%, 24%);
  --clr-neutral-200: hsl(338.18, 16.42%, 86.86%);
  
  --base-rem: 16px;

  --fs-p: 1rem;
  --fs-input: 1rem;
  --fs-heading: 4rem;

  --ff-primary: "Josefin Sans";

  --fw-small: 300;
  --fw-medium: 400;
  --fw-bold: 600;



  --size-800: 4rem;

  --pad-400: 4rem;
  --pad-900: 10.5rem;
}

html, body {
  font-size: var(--base-rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mobile-hero {
  display: none;
}

.image img {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

main .content {
  width: 100%;
  height: 100%;
  padding: var(--pad-400) 0 var(--pad-400) var(--pad-900);
  background: url("images/bg-pattern-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .countainer {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .logo {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  max-width: 6ch;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading);
  color: var(--clr-neutral-900);
  letter-spacing: .25em;
  line-height: 1.1;
  text-transform: uppercase;
}

.wide {
  color: var(--clr-primary-300);
  font-weight: var(--fw-small);
  line-height: 1;
}

p {
  color: var(--clr-primary-300);
  font-size: var(--fs-p);
  font-family: var(--ff-primary);
  font-weight: var(--fw-medium);
  line-height: 1.65;
  max-width: 45ch;
}

#form {
  position: relative;
  height: 3.35rem;
  border: 0.15rem solid var(--clr-neutral-200);
  width: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  box-sizing: content-box;
  border-radius: 100vw;
  border-right: none;
  background: transparent;
}

#form input {
  position: relative;
  width: 100%;
  height: 3.35rem;
  border: none;
  background: transparent;
}

#form input:focus {
  outline: none;
  opacity: 1;
}
/* form input:focus form {
  border-color: ;
} */

input,
input::placeholder {
  color: var(--clr-primary-300);
  font-family: var(--ff-primary);
  font-size: var(--fs-input);
  font-weight: var(--fw-medium);
  opacity: 0.65;
  transition: 0.15s;
}

#submit {
  position: relative;
  cursor: pointer;
  box-shadow: 0 .75rem 1rem hsla(0, 44%, 69%, 0.377);
  background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  width: 7.25rem;
  height: 3.75rem;
  border-radius: 100vw;
  margin: 0;
  border: none;
  padding: 1.125rem;
  transition: 0.15s;
}

#submit:hover {
  opacity: .8;
}


#submit img {
  height: 100%;
  width: max-content;
}

#alert-icon {
  top: 27.75%;
  right: 7rem;
  width: 1.5rem;
  position: absolute;
}

#alert-text {
  position: absolute;
  top: 1em;
}

#alert-text p {
  color: var(--clr-primary-500);
}

div[data-display=none] {
  display: none;
}

form[data-border=red] {
  border-color: var(--clr-primary-500);
  border-width: 0.15rem;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-gradiant-900 {
  background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  opacity: 1;
}

.bg-gradiant-100 {
  background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  opacity: 0;
}

@media screen {
  @media (min-width : 2260px) {:root{--base-rem : 25px;}}
  @media (max-width : 2170px) {:root{--base-rem : 24px;}}
  @media (max-width : 2080px) {:root{--base-rem : 23px;}}
  @media (max-width : 1990px) {:root{--base-rem : 22px;}}
  @media (max-width : 1900px) {:root{--base-rem : 21px;}}
  @media (max-width : 1900px) {:root{--base-rem : 20px;}}
  @media (max-width : 1810px) {:root{--base-rem : 19px;}}
  @media (max-width : 1720px) {:root{--base-rem : 18px;}}
  @media (max-width : 1530px) {:root{--base-rem : 17px;}}
  @media (max-width : 1440px) {:root{--base-rem : 16px;}}
  @media (max-width : 1350px) {:root{--base-rem : 15px;}}
  @media (max-width : 1250px) {:root{--base-rem : 14px;}}
  @media (max-width : 1160px) {:root{--base-rem : 13px;}}
  @media (max-width : 1080px) {:root{--base-rem : 12px;}}
  @media (max-width : 990px) {:root{--base-rem : 11px;}}
  @media (max-width : 810px) {:root{--base-rem : 9px;}}
  @media (max-width : 800px) {
    :root {
      --base-rem : 16px;
    }
    
    main {
      flex-direction: column;
    }
  
    main .content {
      padding: 0;
    }

    main .content .countainer {
      padding: 0;
      justify-content: start;
    }
  
    .content .logo {
      margin: 2.5rem 2rem;
      position: static;
      width: max-content;
    }

    .content .countainer .texts {
      padding-top: 4.0625rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .texts > *, .wide {
      text-align: center;
    }
    h1{
      max-width: 10ch;
    }
  
    #mobile-hero {
      display: unset;
    }
    
    #desktop-hero{
      display: none;
    }
  }
  @media (max-width : 720px) {:root{--base-rem : 15px;}}
  @media (max-width : 630px) {:root{--base-rem : 14px;}}
  @media (max-width : 540px) {:root{--base-rem : 13px;}}
  @media (max-width : 450px) {:root{--base-rem : 12px;}}
  @media (max-width : 360px) {:root{--base-rem : 8px;}}
  @media (max-width : 200px) {:root{--base-rem : 6px;}}
}